body{
    font-size:16px;
    font-size:100%;
    font-size:1em;
    font-family: "Helvetica", "Arial", sans-serif;
    margin:0px;
    
}
.h1 {

}
.logo_nike{
    position: absolute;
    top: 15.6em;
    right: .7em;
    height: 1em;
}
.logo_samsung{
    position: absolute;
    top: 550px;
    right: 10px;
    height: 1em;
}
.logo_toyota{
    position: absolute;
    top: 650px;
    right: 1100px;
    height: 1em;
}
.menu{
    background-color:#0080c0;
    color:#ffffff;
    font-family: "Rockwell", "Arial", sans-serif;
}
.menu ul{
    width:80%;
    padding: 60px;
    margin:1px 10%;
    list-style-type: none;
}
.menu ul li{
    display: inline;
    list-style: none;
    padding: 2px;
    margin: 10px;
    position: relative;
}

.menu ul li a{
    display:inline-block;
    height:1em;
    padding:1em;
    margin: 0px;
    text-decoration: none;
    color: #ffffff;
    
}
.menu a:hover{
    background-color: rgba(255,255,255,0.05);
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    border-radius:2em;
  
   -webkit-border-top-right-radius:2em;
  -webkit- border-bottom-right-radius:2em;
    -moz-border-top-right-radius:2em;
    -moz-border-bottom-right-raduis:2em;
    
    
}
        
.menu ul li a:hover{
    background-color: #404548;
    
}

.menu ul.sm{
    display:none;
    list-style-type: none;
    position: absolute;
    top:1.255em;
    left:-1em;
    padding:0;
    z-index: 90;
}
       
.menu li:hover ul.sm{
           
                display:block;
text-shadow:0 0 2em #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
            z-index: 90;
            }
        }

.header, .content{
    padding:1.3125em; /*21px*/
}
.header{
    
}

.content{
    overflow: auto;
    clear: both;
    min-height:30.75em;
}
 
.footer{
    background-color: #0080c0;
    font-size: 0.75em;  /*12 px*/
    text-align: center;
    color:#DDD;
    text-shadow:0 0 0.133333em #fff;/*1px*/
    padding-bottom: em;
    padding-top: 1em;
}

.slider{
            box-sizing: border-box;
            position: relative;
            width:700px;
            height:420px;
            margin: 1em auto;
            border:1px solid #DDD;
            overflow: hidden;
            padding: 0px;
            box-shadow: 0 0 0.9em #000;
            border-radius: 1em;
            vertical-align: middle;
            
        }
        .slider .holder{
            box-sizing: border-box;
            position: absolute;
            top:0px;
            left:0px;
            width:2805px;
            height: 320px;
            background: rgba(0,0,0,0.1);
            -webkit-transition: left 2s;
        }
        .slider .holder .slideritem{
            box-sizing: border-box;
            float:left;
            width:920px;
            height:320px;
        }
        .slider .circleHolder{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 700px;
            height: 2em;
            padding:0.5em;
            text-align:center;
        }
        .slider .circle{
            position: relative;
            display: inline-block;
            margin:0.5em;
            padding: 0.5em;
            border-radius: 50%;
            width:0.3em;
            height: 0.3em;
            cursor: pointer;
            background-color:rgba(200,200,200,0.8);
            box-shadow: 0 0 0.2em #000;
        }

.slider img{
     width:700px;
      height:420px;
}
.image a img{
    position: absolute;
    bottom: 450px;
    left: 200px;
    margin: 100px;
}

.letras{
    bottom: 300px;
    font-size:25px;
    position: relative;
    font-family: "Rockwell", "Arial", sans-serif;
    padding: 150px;
    color: #000000;
}

.table {
    width: 200px;
    position: relative;
    left: 270px;
    margin-top: 55px;
    
}

.table a{
    text-decoration: none;
    font-family: "Rockwell", "Arial", sans-serif;

}
.table b{
    margin: 60px;
    color: #004080;
    text-decoration: none;
    font-family: "Rockwell", "Arial", sans-serif;
    text-align: center;
}

.Opciones{
      position: absolute;
    width: 15em;
 
}
    
.Opciones ul{
    right: 0%;
    top: 0%;
    float: left;
    width: 15em;
    margin: 0;
    padding: 0;

}
.Opciones ul li{
    background:#014464;
    background: -moz-linear-gradient(top, #303130, #000);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303130), to(#000));
    padding: .25em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
   border-top-right-radius:2em;
   border-bottom-right-radius:2em;
   text-align: center;

  
}

.Opciones ul li a {
  display: block;
  text-decoration: none;
    color: #fff;
    height: 5em;
 

} 
   
.Opciones a:link, a:visited { color: #fff; }
.Opciones a:hover, a:active { color: #000; } 

.Opciones a:hover {
   
    border-top-right-radius:2em;
   border-bottom-right-radius:2em;
   -webkit-border-top-right-radius:2em;
  -webkit- border-bottom-right-radius:2em;
    -moz-border-top-right-radius:2em;
    -moz-border-bottom-right-raduis:2em;
    }



.Opciones ul .Htec{
    display:none;
    list-style-type: none;
    position: absolute;

  
 
}
        
.Opciones li:hover ul.Htec{
           display:block;
            left: 13em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
            z-index: 90;
            }
    
    
/*.Formulario {
    position: relative;
     bottom: 300px;
    left: 100px;
    width: 15em; 
}*/

.contenedorRedes a {
	float: left;
	margin: 0 30px 20px 0;
}


/* Hover and Active States for All Button Styles */

.contenedorRedes a:link { opacity: 1; }
.contenedorRedes a:hover { 
	-webkit-box-shadow: inset 0 0 0 250px rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 0 0 250px rgba(255,255,255,.1);
	box-shadow: inset 0 0 0 250px rgba(255,255,255,.1);
	}
.contenedorRedes a:active { opacity: 0.8; }


/* Button Styles */

.facebook {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';text-align: center;
	font-size:35px;
	line-height:1.2;
	text-indent: 10px;
	font-weight:regular;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width:44px;
	height:44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #4f78b4;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #4974b0, #6e90c0);
	background-image: -moz-linear-gradient(bottom, #4974b0, #6e90c0);
	background-image: -o-linear-gradient(bottom, #4974b0, #6e90c0);
	background-image: linear-gradient(to top, #4974b0, #6e90c0);
}

.facebook:after {
	content: "A";
}

.twitter {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';
	text-align: center;
	font-size:33px;
	line-height:1.3;
	text-indent: 2px;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width: 44px;
	height: 44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #4e9edc;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #4e9edc, #5daae6);
	background-image: -moz-linear-gradient(bottom, #4e9edc, #5daae6);
	background-image: -o-linear-gradient(bottom, #4e9edc, #5daae6);
	background-image: linear-gradient(to top, #4e9edc, #5daae6);
}

.twitter:after {
	content: "B";
}

.google {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';
	text-align: center;
	font-size: 34px;
	line-height:1.2;
	text-indent: 2px;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width: 44px;
	height: 44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #da4935;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #da4935, #e15946);
	background-image: -moz-linear-gradient(bottom, #da4935, #e15946);
	background-image: -o-linear-gradient(bottom, #da4935, #e15946);
	background-image: linear-gradient(to top, #da4935, #e15946);
}

.google:after {
	content: "C";
}

.myspace {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';
	text-align: center;
	font-size:32px;
	line-height:1.4;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width: 44px;
	height: 44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #474747;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #424242, #4e4e4e);
	background-image: -moz-linear-gradient(bottom, #424242, #4e4e4e);
	background-image: -o-linear-gradient(bottom, #424242, #4e4e4e);
	background-image: linear-gradient(to top, #424242, #4e4e4e);
}

.myspace:after {
	content: "D";
}

.instagram {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';
	text-align: center;
	font-size:35px;
	line-height:1.2;
	text-indent: 2px;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width: 44px;
	height: 44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #49709b;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #49709b, #6387af);
	background-image: -moz-linear-gradient(bottom, #49709b, #6387af);
	background-image: -o-linear-gradient(bottom, #49709b, #6387af);
	background-image: linear-gradient(to top, #49709b, #6387af);
}

.instagram:after {
	content: "E";
}


.contenedorRedes{
    right: 0; 
    top: 0%;
float: right;
  position: fixed;
        width: 3em;
	height: 15em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #49709b;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #49709b, #6387af);
	background-image: -moz-linear-gradient(bottom, #49709b, #6387af);
	background-image: -o-linear-gradient(bottom, #49709b, #6387af);
	background-image: linear-gradient(to top, #49709b, #6387af);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #49709b;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
   box-shadow: 0 0 0.9em #000;
}

.Formulario{
    overflow: auto;
    top: 25%;
    left: auto;
    right: auto;
    height: 400px;
    width:300px;
    vertical-align: baseline;
   text-align: justify;
    border-color: #000;
    border-style: solid;
   border-radius: 1em;
   padding: 2em;
    margin-top: 2em;
margin-bottom: 2em;
 margin-left:30%; 
    margin-right:50%;
}

.table2{
    
width: 58em;
height: 32em;
float: left;
    
}






