<!DOCTYPE html>
    
    <html>
        <head>
            <link rel="stylesheet" href="publico/estilos/estilo.css"/>
            <meta charset="utf-8"/>
            <title>{{Catalogo de Productos}}</title>
            {{foreach links}}
            <link rel="stylesheet" href="{{link}}" />
            {{endfor links}}
        </head>
        
    <body>
    <div class="menu" ALIGN=right>
    <img src="publico/imagenes/impresiones_postales.jpg" alt="imagen" align="left" />
                <ul>
                    <li><a class="selected"href="">Inicio</a></li>
                    <li><a href="#">Categorías</a>
                    <ul class="sm">
                        <li><a href="">Calendarios</a></li>
                        <li><a href="">etiquetas</a></li>
                        <li><a href="">Laminas</a></li>
                    </ul>
                    </li>
                   <li><a href="">Preguntas Frecuentes</a></li>
                   <li><a href="">Contactenos</a></li>
                
        </ul>
    </div>

    <h1></h1>
     <div class="content">
     <div class="table">
    <table cellpading="20" cellspacing="20">
         {{foreach productos}}
         <tr>
    <td><img src="{{prd_img}}"></td>
    <td >{{prd_desc}}</td>
    <td><img src="{{prd_img}}"></td>
    <td >{{prd_desc}}</td>
         </tr>
         {{endfor productos}}
    </table>
    </div>
    </div>
     <div class="footer">
                <br/>
                Todos los Derechos Reservados 2014 <br/>Negocios WEB SCJ UNICAH 
            </div>
    </body>
    </html>